.cases {
  &__slide {
    min-height: 350px;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 12px 21px 0px rgba($blue, .35);

    @include md {
      min-height: 320px;
    }
    @include lg {
      min-height: 400px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: linear-gradient(to top, #161C3E 23.44%, rgba(22, 28, 62, 0) 100%);
      z-index: -1;
    }

    .cases-slide {

      &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
      }

      &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h5 {
          text-transform: uppercase;
          font-size: .83rem;
          font-weight: 600;
          line-height: 1.5;
          margin-bottom: 10px;

          @include md {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 12px;
          }
          @include xl {
            font-size: 1.25rem;
            margin-bottom: 14px;
          }
        }
        a {
          font-size: .75rem;
          line-height: 1.15;
          font-weight: 500;
          margin: 0 auto;
          padding: 7px 13px;
          border-radius: 20px;
          background-color: $blue;
          transition: background-color .3s;

          @include md {
            font-size: .825rem;
            padding: 7px 15px;
          }
          @include xl {
            font-size: 1rem;
            padding: 9px 19px;
          }

          &:hover {
            background-color: #161C3E;
            color: #ffffff;
          }
        }
      }
    }
  }
}