.forming {
  margin-bottom: 52px;

  @include md {
    margin-bottom: 150px;
  }
  @include lg {
    margin-bottom: 170px;
  }
  @include xl {
    margin-bottom: 163px;
  }
  @include xxl {
    margin-bottom: 150px;
  }

  h3 {
    margin-bottom: 25px;
    letter-spacing: 0.025em;

    @include md {
      margin-bottom: 53px;
      letter-spacing: 0;
    }
    @include xxl {
      margin-bottom: 50px;
    }
  }

  &__quote {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 12px;

    @include md {
      margin-bottom: 35px;
    }
    @include xl {
      padding-left: 13px;
      margin-bottom: 10px;
    }
    @include xxl {
      padding-left: 0;
    }
  }
  .swiper-container {
    padding: 0 20px;
    max-width: 940px;
    @include lg {
      overflow: visible;
    }
  }

  .swiper-forming {
    margin: auto;
    overflow: hidden; 
    @include md {
      width: 83%;
    }


    .swiper {
      &-wrapper {
        margin-bottom: 45px;

        @include md {
          margin-bottom: 0;
        }
      }
      &-slide {
        text-align: center;
        font-size: 1rem;

        p {
          font-style: italic;
          font-size: .75rem;
          line-height: 1.8;

          @include md {
            font-size: 1rem;
          }

          &:not(:last-of-type) {
            margin-bottom: 31px;

            @include lg {
              margin-bottom: 34px;
              margin-top: 32px;
            }
            @include xxl {    
              margin-top: 42px;
              margin-bottom: 42px;
            }
          }

          &:last-of-type {
            font-style: normal;

            span {
              padding: 0 13px;
              font-size: 1.17em;

              @include md {
                font-size: .95em;
              }

              &:first-of-type {
                border-right: 1px solid #000000;
                font-size: 1.3em;

                @include md {
                  font-size: 1.07em;
                }
              }
            }
          }
        }
      }
  
    }
  }
  &-pagination {
    bottom: 7px;
  }
  &-next, &-prev {
    top: 28%;
   
    @include lg {
      top: 38%;
    }
    @include xl {
      top: 33%;
    }
    @include xxl {
      top: 38%;
    }
  }
  &-next {
    right: -4px;
    @include xl {
      right: -77px;
    }
    @include xxl {
      right: -89px;
    }
  }
  &-prev {
    left: 9px;
    @include xl {
      left: -77px;
    }
    @include xxl {
      left: -89px;
    }
  }
  &__testimonial{
    @include md{
      margin-bottom: 124px;
    }
    h3{
      margin-bottom: 32px;
      letter-spacing: .06em;
      @include lg{
        margin-bottom: 38px;
      }      
    }
    .forming__quote{
      @include md{
        margin-bottom: 32px;
      }
      @include xl {
        margin-bottom: 13px;
      }
    }
    .swiper-container{
      max-width: 1085px;
    }
    .forming-next, .forming-prev{
      top: 54px;
    }
    .forming-next {
      right: -1px;
    }
    .forming-prev {
      left: 10px;
    }
    .forming .swiper-forming .swiper-slide p:not(:last-of-type){
      margin-bottom: 33px;
    }
    
  }
 

}