.partners {
  &.container{
    @include xxl{
          max-width: 1980px;
    } 
  }
  &.container.homepage{
        max-width: 1300px;
  }

  padding-top: 20px;
  padding-bottom: 22px;

    @include lg {
      padding-bottom: 19px;
    }
    @include xl{
      padding-left: 5px;
      padding-right: 5px; 
    }
  .swiper {
    &-container {
      // @include xl {
      //   overflow: visible;
      // }
    } 
    &-button { 
      &-prev,
      &-next {
        display: flex;
        top: 0;
        height: 100%;
        margin-top: 0;
        justify-content: flex-end;
        border: none;
        border-radius: 0;
        background: rgb(245,246,248);
        background: linear-gradient(to left, rgba(245,246,248,1) 0%, rgba(245,246,248,1) 50%, rgba(245,246,248,0) 100%);
        cursor: unset;
        pointer-events: none;

        &:focus {
          outline: none;
        }

        @include xl {
          display: none;
        }
      }

      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
  } 
  .swiper-partners {
    
    margin: 0 auto;

    .swiper {
      &-wrapper {
        align-items: center;
        transition-timing-function: linear;
 
      }

      &-slide {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          width:auto;
          object-fit: contain;
          
        }
      }
    }
  }

  &--press {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.homepage.partners{
  .swiper-wrapper{
    @include xl{
    transform: none !important; 
    max-width: 100% !important;
    padding:0 5px;
    justify-content: space-between;
    }
  }
  .swiper-slide{
    @include xl{
      flex-shrink: 1 !important;
    }

    img{
     height: 54px;
      @include md{
        height: 98px;
      }
    }
  }
  @include xl {
    .swiper-slide-duplicate{
        display: none;
    }
  }
}