.swiper-milestones{
    .swiper-button-disabled{
    display: none;
} 
    .milestones-next,  .milestones-prev{
        top: 60px;
        background-color: #fff;
        margin:0 20px;
    } 
}


.card-milestones{ 
        &__lines{
            height: 95px;
            display: flex;
            flex-wrap: nowrap; 
            align-items: flex-end;
        }
        &__left-line{ 
            margin-bottom: 15px;
            flex-grow: 1;
            height: 2px; 
        }
        &__point{
            flex-grow: 0; 
            flex-shrink: 0;
            border-radius: 50%;
            width: 32px;
            height: 32px;  
            border: solid rgb(255, 255, 255) 6px;
        }
        &__right-line{
            margin-bottom: 15px; 
            flex-grow: 1;
            height: 2px;
            background: linear-gradient(90deg, #FF8464 0%, #A688FF 33.41%, #55ACFF 59.95%, #2F3B96 85.07%, #1C1B51 100%);
        }
        &__title{
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: center; 
            margin-left: auto;
            margin-right: auto;
            max-width: 220px;
            padding: 0 10px;
            &__year{ 
                font-size: 26px; 
                line-height: 34px;  
                @include md{  
                    display: inline-block;
                    margin:12px 0;
                }
            }
            @include sm{
                max-width: 260px;
                padding: 0 20px;
            }
            @include md{
                max-width: 360px; 
                font-size: 22px; 
                line-height: 30px;    
            }
            
        }
        &__description{
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            max-width: 210px;
            line-height: 21.5px;
            letter-spacing: 0em;
            text-align: center; 
            margin-left: auto;
            margin-right: auto;
            padding: 0 10px;
            @include sm{
                max-width: 260px;
                padding: 0 20px;
            }
            @include md{
                max-width: 360px;  
                font-size: 16px; 
                font-weight: 400;
                line-height: 30px;  
            }
            @include xl{
                max-width: 440px;
            }
        } 
        &__first-line{
            flex-grow: 1;
            position: relative;
            &__container{
                position: absolute;
                bottom: 12px;
                right: -20px;
                z-index: -1;
            }
        }
}