.swiper {
  // &-wrapper {}
  // &-slide {}
  &-pagination {
    bottom: 0;
  
    @include md {
      display: none;
    }

    &-bullet {
      width: 11px;
      height: 11px;
      margin: 0 9px !important;
      border: 1px solid rgba($blue, 0.7);
      opacity: 1;
      background-color: transparent;

      &-active {
        background-color: $blue;
      }
    }
  }
  &-button-prev, &-button-next {
    width: 40px;
    height: 40px;
    border: 1px solid $blue;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      content: unset;
    }

    svg {
      width: 15px;
      height: 15px;
      fill: $blue;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-button-prev {
    transform: rotate(180deg);
  }
}