.latest-updates {
  padding: 50px 0;

  @include md {
    padding: 77px 20px 80px;
  }
  @include xl {
    padding-top: 100px;
  }
  @include xxl {
    padding-top: 120px;
  }

  &__caption {
    padding: 0 20px;
    max-width: 580px;
    margin: 0 auto;
    text-align: center;

    @include lg {
      padding: 0 20px 0 30px;
    }
    @include xl {
      padding: 0 20px;
      max-width: 710px;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5;
      font-weight: 300;
      color: #ABAFC2;

      @include md {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.35;
      }
      @include xl {
        line-height: 1.7;
      }
    }
  }

  .swiper-latest-updates {
    max-width: 350px;
    margin: 0 auto;    
    padding-top: 16px;
    padding-bottom: 80px;

    @include md {
      overflow: hidden;
      max-width: 620px;
      padding-top: 40px;
      padding-bottom: 41px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    @include lg {
      padding-top: 30px;
    }
    @include sl {
      max-width: 1110px;
    }
    @include xl {    
      padding-top: 40px;
      padding-bottom: 62px;
    }

    .swiper { 
      &-pagination {
        bottom: 18px;

        @include md {
          bottom: 0;
        }
      } 
    }
  }

  &__btn {
    display: none;

    @include md {
      display: block;

      a {
        padding: 8px 16px;
        font-size: 12px;
        margin-left: 9px;
      }
    }

    @include xl {
      a {
        padding: 10px 19px;
        font-size: 16px;
        margin-left: 0;
      }
    }
  }
  .swiper-container{
    max-width: 1220px;
  }

  &-next, &-prev {
    @include xl {
      top: 53%;
    }
  }
}