.news-slider {
  padding-top: 55px;
  padding-bottom: 60px;

  @include md {
    padding-top: 75px;
    padding-bottom: 80px;
  }
  @include xl {
    padding-top: 124px;
    padding-bottom: 121px;
  }

  &__caption {
    padding: 0 20px;
    max-width: 580px;
    margin: 0 auto;
    text-align: center;

    @include xl {
      max-width: 710px;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5;
      font-weight: 300;
      color: #ABAFC2;

      @include md {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.35;
      }
      @include xl {
        line-height: 1.7;
      }
    }
  }

  .swiper-container {
    margin-bottom: 42px;
    overflow: visible;

    @include md {
      margin-bottom: 0;
    }
  }

  .swiper-news-slider {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 64px;

    @include xs {
      max-width: 340px;
    }
    @include md {
      overflow: hidden;
      max-width: 620px;
      padding: 40px 20px 50px;
    }
    @include lg {
      padding-top: 28px;
      max-width: 860px;
    }
    @include xl {
      max-width: 1160px;
      
    }

    .swiper {

      &-pagination {
        bottom: 0;
      }
    }
  }

  &-prev, &-next {
    @include xl {
      top: calc(50% - 8px);
    }
  }
  &-prev {
    @include xl {
      left: -30px;
    }
  }
  &-next {
    @include xl {
      right: -30px;
    }
  }

  &__btn {
    margin-bottom: 22px;

    a {
      padding: 7px 30px;

      @include xl {
        padding: 11px 25px;
      }
    }
  }
  &__link {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;

    @include xl {
      max-width: 710px;
      font-size: 18px;
      font-weight: 400;
    }

    p {
      margin-top: 28px;    
      letter-spacing: -0.01em;

      @include xl {
        margin-top: 32px;
        letter-spacing: 0.01em;
      }
    }

    a {
      font-weight: 600;
      transition: color .2s;
      border-bottom: 2px solid #000000;

      &:hover {
        color: $blue;
      }

      @include xl {
        font-weight: 700;
      }
    }
  }
}