.news-slider {
  &__slide {
    min-height: 506px;
    padding: 10px 10px 37px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 13px 3px rgba($blue, .10);

    @include md {
    }
    @include lg {
      min-height: 483px;
      padding: 17px 17px 20px;
    }

    .news-slider-slide {
      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        max-height: 212px;
        min-height: 212px;
        margin-bottom: 25px;
        position: relative;

        img {
          object-fit: contain;
        }
      }

      &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        time {
          margin-bottom: 12px;
          font-size: .875rem;
          color: rgba(#000000, 0.5);
        }

        h5 {
          margin-top: 0px;
          margin-bottom: 12px;
          font-weight: 600;
          font-size: .875rem;
          line-height: 1.5;

          @include xl {
            font-size: 1.375rem;
          }
          // @include xl {
          //   font-size: 1.125rem;
          // }
        }

        p {
          margin-top: 0;
          font-size: .875rem;
          line-height: 1.5;
          font-weight: 100;
          margin-bottom: 12px;

          @include xl {
            font-weight: 400;
          }
        }

        a {
          margin-top: auto;
          width: max-content;
          font-size: .875rem;
          line-height: 2.5;
          font-weight: 700;
          color: $blue;

          &:hover {
            text-decoration: underline;
          }

          @include md {
            font-size: .75rem;
          }
          @include xl {
            font-size: .875rem;
          }
        }
      }
    }
  }
}