$green:#00BC87;
$blue:#487CFF;

$logowidth:50px; 
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$x: 1124px;
$sl: 1260px; 

$xl: 1440px;
$xxl: 1920px;

$font-main: 'Montserrat', sans-serif;
$font-accent: 'Sharp Sans Display No1', sans-serif;
$font-size: 16px;

@mixin xs {
  @media (min-width:$xs) {
    @content
  }
};

@mixin sm {
  @media (min-width:$sm) {
    @content
  }
};

@mixin md {
  @media (min-width:$md) {
    @content
  }
};

@mixin lg {
  @media (min-width:$lg) {
    @content
  }
};
@mixin sl {
  @media (min-width:$sl) {
    @content
  }
};

@mixin x {
  @media (min-width:$x) {
    @content
  }
};

@mixin xl {
  @media (min-width:$xl) {
    @content
  }
};

@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
 