 
.card-powered{ 
    &__col{ 
        margin: 0 10px;
        @include sm{ 
            margin: 0;
            margin-bottom: 40px;
        }
        @include xl {    
            margin-bottom: 60px;
        }
    } 
    &__col:last-child{
        .card-powered{
            border:none;
        }  
    } 
    padding: 28px 0px 33px;
    min-height: 236px; 
    border-bottom: 1.5px solid #CFDDFF; 

    @include sm{
        height: 100%;
        padding: 28px; 
        min-height: 320px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border:none;
         background: #FFFFFF;
         box-shadow: 0px 4px 50px rgba(72, 124, 255, 0.15); 
    } 
    @include lg {
        margin-top: -30px;
    }
    @include xl{
        padding: 31px 28px 28px;
        margin-top: -8px;
        max-width: 268px; 
    }
 
    position: relative; 
    &__background{
        display: none;
        @include sm{ 
            display: block;
            position: absolute;
            border-radius: 20px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            transition: 0.9s;
        } 
    }
    &__title{  
        margin: 0 0 0 0;
        font-family: Montserrat;
        flex-grow: 1;
        font-size: 16px;
        line-height: 34px;
        transition: 0.9s;
        font-weight: 400; 
        margin-left: auto;
        margin-right: auto;
        text-transform: none;
        &_tablet{
            min-height: 50px;
            line-height: 21px;
            max-width: 153px; 
            position: relative;
            z-index: 1;
            flex-grow: 0;  
            display: none;
            @include sm {
                display: block;
            }
        }
        &_mobile{
            order: 2;
            font-weight: 600;
            font-size: 14px;
            line-height: 34px;
            @include sm {
                display: none;
            }
        }
    }

    &__toggle-container{ 
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include sm {
           flex-grow:2 ;
        } 
        position: relative;  
    }
    &__description{ 
        margin-top: 0;
        font-family: Montserrat;
        font-size: 14px; 
        font-weight: 300;
        line-height: 1.54;
        text-align: center;
        order: 2;
        flex-grow: 1;
        @include sm{
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.6;
            transition-duration: 0.5s;
            transition-delay: 0.1s;
            transform-origin: 100% 100%; 
            opacity: 0;
            color:rgb(58, 65, 172);
        }
      
    }
    &__img{ 
        margin-top: auto;    
        align-self: flex-end;
        order: 0;
       text-align: center;
       height: 135px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -17px;
        @include sm{ 
         height:auto;
          width: 100%;
         max-height: 220px;
        transition: 0.5s;
        transform-origin:  0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        } 
        img{
            object-fit: contain;
            height: 100%;
            max-width: 100%;
            max-height: 94%;
            width: 96%;

            @include md {
                max-height: 100%; 
                width: 100%;
            }
        }
    }
    &:hover{
        .card-powered{
            &__background{
                @include sm{
                    
                    background-color: #487CFF;
                }
            
                
            }
            &__description{
                @include sm{
                    opacity: 1;
                    color:#FFFFFF ;
                }
             
            }
            &__img{
                @include sm{ 
                  
                    opacity: 0;
     
                }  
            }
            &__title{
                @include sm{
                    color:#FFFFFF ;
                }   
            }
        }
    }
}