.card-powered{
    &__col:last-child{
        .card-powered{
            border:none;
        }  
    }
    padding: 20px;
    min-height: 236px;
    border-bottom: 1.5px solid #CFDDFF; 
    @include sm{
        min-height: 320px;
        border-radius: 20px;
        border:none;
         background: #FFFFFF;
         box-shadow: 0px 4px 50px rgba(72, 124, 255, 0.15);
         margin-bottom: 40px;
    } 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    position: relative; 
    &__background{
        display: none;
        @include sm{
            display: block;
            position: absolute;
            border-radius: 20px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            transition: 0.9s;
        } 
    }
    &__title{  
        margin: 5px 0;
        font-family: Montserrat;
        flex-grow: 1;
        font-size: 16px;
        line-height: 34px;
        transition: 0.9s;
        text-transform: none;
        &_tablet{
            position: relative;
            z-index: 1;
            flex-grow: 0;

            display: none;
            @include sm {
                display: block;
            }
        }
        &_mobile{
            order: 2;
            font-weight: 600;
            font-size: 14px;
            line-height: 34px;
            @include sm {
                display: none;
            }
        }
    }

    &__toggle-container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow:2;
        position: relative;
        height: 100%;
        // border: solid red 1px;
    }
    &__description{ 
        font-family: Montserrat;
        font-size: 14px; 
        font-weight: 300;
        line-height: 1.54;
        text-align: center;
        order: 2;
        
        @include sm{
            line-height: 1.6;
            transition-duration: 0.5s;
            transition-delay: 0.1s;
        transform-origin: 100% 100%; 
        opacity: 0;
        color:rgb(58, 65, 172);
        }
      
    }
    &__img{    

        order: 0;
       text-align: center;
        height: 125px;
        overflow: hidden;
        @include sm{
            height: 100%;
            max-height: 100%;
        transition: 0.5s;
        transform-origin:  0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        } 
        img{
            object-fit: contain;
            height: 100%;
            max-width: 100%;
            max-height: 100%; 
            width: auto;
        }
    }
    &:hover{
        .card-powered{
            &__background{
                @include sm{
                    
                    background-color: #487CFF;
                }
            
                
            }
            &__description{
                @include sm{
                    opacity: 1;
                    color:#FFFFFF ;
                }
             
            }
            &__img{
                @include sm{ 
                  
                    opacity: 0;
     
                }  
            }
            &__title{
                @include sm{
                    color:#FFFFFF ;
                }   
            }
        }
    }
}