 $delay: 0.3s;
 
 .accordion{ 
     &-health{
         min-height: 400px;
    
     }
        &__item{ 
            border-bottom: 1px solid #000000; 
        }
        &__text{
            transition:  $delay  0s ease;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left; 
            max-height: 0;
            overflow: hidden;
            // opacity: 0;
            padding: 0;
            margin: 0;
        }
        &__title{
            font-family: $font-main;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            cursor: pointer;
            line-height: 22px;
            letter-spacing: 0.02em; 
            position: relative;
            color: #ABABAB;
            text-align: left;
            margin: 0;
            padding-top: 26px;
            padding-bottom: 26px;
            padding-right: 60px;
            &:hover{
                color: #808080;
            }
            @include md {
                font-size: 24px;
                line-height: 40px;
                padding-top: 35px;
                padding-bottom: 35px;
            }
            &::after{
                content:'+';
                position:absolute;
                display: inline-block;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 32px;
                color:#487CFF;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }  
            &.is-active__js{
                
                pointer-events: none;
                 &::after{
                     @include md{
                         display: none;
                     }
                     content: "- ";
                     margin-right: 5px;
                 }
                color: #161C3E;
                &+.accordion__text{
                    transition: 0.3s  $delay ease;
                    animation-fill-mode: forwards;
                    animation-name: full;
                    animation-duration: 0.1s;
                    animation-delay: 0.3s;
                    max-height: 150px;
                    overflow: hidden;
                    opacity: 1; 
                    margin-bottom: 35px;
                }
            }
        }

 }


 @keyframes full {
     0%{

     }
     100%{
        max-height:400px; 
     }
 }