 .accordion{ 
        &__item{ 
            border-bottom: 1px solid #000000; 
        }
        &__title{
            font-family: $font-main;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            cursor: pointer;
            line-height: 22px;
            letter-spacing: 0.02em; 
            position: relative;
            color: #ABABAB;
            text-align: left;
            margin: 0;
            padding-top: 26px;
            padding-bottom: 26px;
            padding-right: 60px;
            &:hover{
                color: #808080;
            }
            @include md {
                font-size: 24px;
                line-height: 40px;
                padding-top: 35px;
                padding-bottom: 35px;
            }
            &::after{
                content:'+';
                position:absolute;
                display: inline-block;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 32px;
                color:#487CFF;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            } 
            &.is-active__js{
                pointer-events: none;
                 &::after{
                     content: "- ";
                     margin-right: 5px;
                 }
                color: #161C3E;
                &+.accordion__text{
                    max-height: 100vh;
                    opacity: 1;
                    overflow: auto;
                    margin-bottom: 35px;
                }
            }
        }
        &__text{
            transition: 0.3s;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left; 
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            padding: 0;
            margin: 0;
        }
 }