$green:#00BC87;
$blue:#487CFF;

$logowidth:50px;

$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 1920px;

$font-main: 'Montserrat', sans-serif;
$font-accent: 'Sharp Sans Display No1', sans-serif;
$font-size: 16px;

@mixin xs {
  @media (min-width:$xs) {
    @content
  }
};

@mixin sm {
  @media (min-width:$sm) {
    @content
  }
};

@mixin md {
  @media (min-width:$md) {
    @content
  }
};

@mixin lg {
  @media (min-width:$lg) {
    @content
  }
};

@mixin xl {
  @media (min-width:$xl) {
    @content
  }
};

@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};

body {
  background-color: rgb(199, 199, 199);
  // for popup noscroll 
}

// footer to bottom
.body,
html {
  height: 100%;
  min-height: 100vh;
}

.header,
footer {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #fff;
  overflow: hidden;

}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}


h1,
h2,
h3,
h4 {
  text-align: center;
  line-height: 1.5;
  font-family: $font-accent;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2em;

  @include md {
    font-size: 2.5rem;
  }
  @include xl {
    font-size: 2.825rem;
  }
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}