$green:#00BC87;
$blue:#487CFF;

$logowidth:50px; 
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$x: 1124px;
$sl: 1260px; 

$xl: 1440px;
$xxl: 1920px;

$font-main: 'Montserrat', sans-serif;
$font-accent: 'Sharp Sans Display No1', sans-serif;
$font-size: 16px;

@mixin xs {
  @media (min-width:$xs) {
    @content
  }
};

@mixin sm {
  @media (min-width:$sm) {
    @content
  }
};

@mixin md {
  @media (min-width:$md) {
    @content
  }
};

@mixin lg {
  @media (min-width:$lg) {
    @content
  }
};
@mixin sl {
  @media (min-width:$sl) {
    @content
  }
};

@mixin x {
  @media (min-width:$x) {
    @content
  }
};

@mixin xl {
  @media (min-width:$xl) {
    @content
  }
};

@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
 

// footer to bottom


.header,
footer {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
}
&{ 
  font-family: $font-main;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.footer-to-bottom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #fff;  
} 

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  line-height: 1.5;
  font-family: $font-accent;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2em;

  @include md {
    font-size: 2.5rem;
  }
  @include xl {
    font-size: 2.825rem;
  }
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}