 

.header,
footer {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
}
&.body{ 
  @include x {
    padding-right: 0 !important;
    overflow: auto !important;
  }
  font-family: $font-main;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

textarea , input , button ,select , label {
  font-family: $font-main;
}

.footer-to-bottom {  
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  z-index: 0;
  position: relative;
  align-items: flex-start; 
  background-color: #fff;  
} 

footer{
  width: 100%;
  align-self: flex-end;
}
main{
  width: 100%;
  align-self: flex-start;
}
header{
  width: 100%;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  line-height: 1.5;
  font-family: $font-accent;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2em;

  @include md {
    font-size: 2.5rem;
  }
  @include xl {
    font-size: 2.825rem;
  }
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}