.description {
  z-index: 0;
  position: relative;
  padding: 58px 0 36px;
  background-color: #fff;
  background-image: url("../images/description/description-bg-1.png");
  background-size: 155%;
  background-repeat: no-repeat;
  background-position: 0 35%;

  @include md {
    padding: 102px 0 8px;
    background-size: 100%;
    background-position: -200px 47%;
  }

  @include lg {
    padding-bottom: 2px;
    background-size: 80%;
    background-position: -50px 40%;
  }

  @include xl {
    padding: 184px 0 44px;
  }

  @include xxl {
    padding: 119px 0 40px;
    background-position: -50px 15%;
    background-size: 65%;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: -45%;
    right: 0;
    z-index: -1;
    background-image: url("../images/description/description-bg-3.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @include md {
      background-image: url("../images/description/description-bg-2.png");
      bottom: -54%;
      right: -240px;
      background-size: 130%;
    }

    @include lg {
      background-size: 100%;
    }

    @include xl {
      bottom: -47%;
      width: 75%;
    }

    @include xl {
      bottom: -50%;
    }
  }

  &_healthcare {
    background-position: 0 -5%;

    &::after {
      bottom: -37%;

      @include xxl {
        bottom: -33%;
      }
    }

    @include xl {
      padding: 115px 0 20px;
      background-position: -200px -35%;
    }

    @include xxl {
      background-position: -50px -85%;
    }

    .description {
      &__wrap {
        p {
          padding-bottom: 60px;
        }
        @include xl {
          h2 {
            margin-bottom: 43px;
          }
          p {
            padding-bottom: 22px;
          }
        }
      }

      &__img {
        img {
          @include xl {
            margin: -5px 0 60px 45px;
          }
        }
      }

      &__block {
        @include xl {
          margin-bottom: 171px;
        }

        .icon {
          @include xl {
            padding-left: 100px;
            margin-top: -59px;
            margin-right: -55px;
            min-height: 362px;
          }
        }

        &-content {
          @include xl {
            padding-left: 99px;
            margin-top: -62px;
          }

          h3 {
            text-align: center;
            padding-right: 9px;
            letter-spacing: .025em;

            @include md {
              text-align: left;
              padding-right: 0px;
            }

            @include xl {
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 31px;
              letter-spacing: 0em;
              max-width: 73% !important;
            }
          }
          p {
            text-align: center;

            @include md {
              text-align: left;
            }
            @include xl{
              max-width: 86%;
            }
          }
        }

        &_right {
          margin-bottom: 0;

          .description__img {
            padding-bottom: 42px;
            img {
              @include xl {
                margin: 72px 0 43px -103px;
              }
            }
          }

          .icon {
            min-height: 395px!important;
            margin-top: -56px!important;
            margin-left: 0;
          }

          .description__block-content {
            padding: 0;
            @include xl {
              margin-left: 0;    
              margin-top: -50px;
            }

            p {
              @include xl {
                max-width: 75%;
              }
            }
          }
        }
      }
    }
  }

  p {
    line-height: 1.6;
    margin: 0;
  }

  &__wrap {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 15px;

    @include md {
      padding: 0;
    }

    h2 {
      margin-bottom: 20px;
      letter-spacing: .015em;

      sup {
        text-transform: uppercase;
        font-size: .3em;
        font-weight: 800;
      }

      @include md {
        margin-bottom: 35px;
        line-height: 1.2;
      }

      @include lg {
        max-width: 80%;
        margin: 0 auto 35px;
        line-height: 39px;
        padding-left: 12px;
      }

      @include xl {
        padding-left: 0px;
        margin-left: 1px;
        margin-bottom: 22px;
        max-width: unset;
        font-size: 60px;
        line-height: 68px;
        text-align: center;
        letter-spacing: 0.005em;
      }
    }

    p {
      text-align: center;
      font-size: 14px;
      line-height: 21.5px;
      padding-bottom: 28px;
      font-weight: 300;

      @include md {
        font-size: 16px;
        padding-bottom: 36px;
      }

      @include lg {
        max-width: 85%;
        margin: 0 auto;
        line-height: 24.5px;
        padding-left: 13px;
        word-spacing: .1em;
      }

      @include xl {
        max-width: unset;
        font-size: 23px;
        line-height: 38px;
        padding-bottom: 39px;
        margin-left: -3px;
        padding-left: 0px;
        font-weight: 400;
      }
    }

    &_healthcare {
      max-width: 875px;

      @include md {
        padding-bottom: 80px;
      }

      @include xl {
        padding-bottom: 130px;
      }
    }
  }

  &__block {
    padding-bottom: 50px;

    @include md {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      text-align: left;
    }

    &_right {
      padding-bottom: 20px;

      @include lg {
        margin-top: -100px;
      }

      .description__img {
        @include md {
          order: 2;
        }

        @include lg {
          margin: 45px 23px 0px 15px;

          img {
            width: 95%;
          }
        }

        @include xl {
          margin: -100px 23px 0px 15px;

          img {
            margin: 6px 0px 70px 17px;
            width: 100%;
          }
        }
      }

      .icon {
        @include lg {
          padding-left: 0px !important;
          margin-top: -40px !important;
          margin-left: -30px;
        }

        @include xl {
          min-height: 303px !important;
          margin-top: -34px !important;
          margin-left: -20px;
        }
      }

      .description__block-content {
        @include lg {
          padding-left: 0;
          margin-left: -10px;
          margin-top: -30px;
        }

        @include xl {
          margin-left: -47px;
          margin-top: -44px;
        }

        h3 {
          @include lg {
            max-width: 85%;
            margin-left: 0;
          }

          @include xl {
            max-width: 65%;
          }
        }
      }
    }
  }

  &__block-content {
    font-size: 14px;
    font-weight: 300;
    padding-left: 16px;
    padding-right: 16px;

    @include md {
      width: 50%;
      font-size: 16px;
      padding-left: 66px;
      padding-right: 0;
    }

    @include lg {    
      margin-top: -95px;
    }

    @include xl {
      margin-top: -83px;
      padding-left: 29px;
    }

    h3 {
      max-width: unset;
      font-size: 18.3px;
      line-height: 22px;
      margin-bottom: 16px;

      @include lg {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
      }

      @include xl {
        font-size: 45px;
        line-height: 54px;
        margin-bottom: 30px;
      }
    }

    p {
      line-height: 21.5px;
      letter-spacing: -0.015em;
      font-weight: 300;

      @include lg {
        max-width: 92%;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0;
      }
      @include xl {
        max-width: 100%;
      }
    }
  }

  &__img {
    background-image: url("../images/description/description-bg-shadow.png");
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: -12px 55px;
    max-width: 170px;
    margin: 0 auto;
    padding-bottom: 32px;

    img {
      height: auto;
      width: 100%;

      @include md {
        margin: 0 10px 70px 17px;
      }

      @include xl {
        margin: 7px 0px 60px 52px;
      }
    }

    &_radius {
      img {
        border-radius: 50%;
      }
    }

    @include sm {
      width: 35%;
      max-width: 403px;
    }

    @include md {
      padding-bottom: 0;
      background-position: -12px 64px;
    }

    @include lg {
      background-position: -24px 105px;
    }

    &_position {
      background-position: 0px 100px;
      padding-bottom: 47px;

      img {
        margin-right: 20px;
      }

      @include md {
        background-position: 15px 150px;
      }

      @include lg {
        background-position: 20px 180px;
      }
    }
  }

  &__video {
    margin: 75px 0 60px;

    @include sm {
      box-shadow: 0 101px 127px -107px #5d4337;
    }

    .iframe__wrap {
      position: relative;
      height: 0;
      padding-bottom: 52%;
    }

    .iframe__embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #cccccc;
    }

    // .iframe__overlay {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;

    //   .overlay {
    //     &__poster {
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       width: 100%;
    //       height: 100%;
    //       img {
    //         max-width: none;
    //         width: 100%;
    //         height: 100%;
    //       }
    //     }
    //     &__logo {
    //       position: absolute;
    //       top: 10px;
    //       left: 10px;
    //       z-index: 1;

    //       @include md {
    //         top: 30px;
    //         left: 30px;
    //       }
    //       svg {
    //         fill: white;
    //       }
    //     }
    //     &__btn {
    //       position: absolute;
    //       top: 50%;
    //       left: 50%;
    //       transform: translateX(-50%) translateY(-50%);
    //       width: 63px;
    //       height: 63px;
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       background: rgba(72, 124, 255, 0.35);
    //       border-radius: 50%;
    //       transition: background .3s;
    //       cursor: pointer;

    //       svg {
    //         width: 23px;
    //         height: 23px;
    //       }

    //       &:hover {
    //         background: rgba(72, 124, 255, 1);
    //       }
    //     }
    //   }
    // }
    p {
      font-size: 11.3px;
      line-height: 13px;
      padding-top: 15px;
      padding-bottom: 0;
      font-weight: 400;

      @include sm {
        display: none;
      }
    }

    @include lg {
      margin: 84px -4px 125px 9px;
    }

    @include xl {
      margin: 172px 0px 125px 0px;
    }

    @include xxl {
      margin-top: 156px;
    }
  }

  .icon {
    display: none;
    width: 10%;
    height: 100%;
    min-height: 310px;

    @include md {
      display: block;
    }

    @include lg {
      padding-left: 86px;
      margin-top: -97px;
    }

    @include xl {
      padding-left: 57px;
      margin-top: -98px;
      min-height: 241px;
    }
  }
}