@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserat/Montserrat-Bold.eot');
    src: url('../fonts/montserat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/montserat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserat/Montserrat-Light.eot');
    src: url('../fonts/montserat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/montserat/Montserrat-Light.woff') format('woff'),
        url('../fonts/montserat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserat/Montserrat-Italic.eot');
    src: url('../fonts/montserat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserat/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/montserat/Montserrat-Italic.woff') format('woff'),
        url('../fonts/montserat/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserat/Montserrat-SemiBold.eot');
    src: url('../fonts/montserat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/montserat/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/montserat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserat/Montserrat-Medium.eot');
    src: url('../fonts/montserat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/montserat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/montserat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserat/Montserrat-Regular.eot');
    src: url('../fonts/montserat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/montserat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/montserat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans Display No1';
    src: url('../fonts/sharp/SharpSansDisplayNo1-Semibold.eot');
    src: url('../fonts/sharp/SharpSansDisplayNo1-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sharp/SharpSansDisplayNo1-Semibold.woff2') format('woff2'),
        url('../fonts/sharp/SharpSansDisplayNo1-Semibold.woff') format('woff'),
        url('../fonts/sharp/SharpSansDisplayNo1-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Sans Display No1';
    src: url('../fonts/sharp/SharpSansDisplayNo1-Extrabold.eot');
    src: url('../fonts/sharp/SharpSansDisplayNo1-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sharp/SharpSansDisplayNo1-Extrabold.woff2') format('woff2'),
        url('../fonts/sharp/SharpSansDisplayNo1-Extrabold.woff') format('woff'),
        url('../fonts/sharp/SharpSansDisplayNo1-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}