.form {
  margin-top: 20px;
  margin-bottom: 60px;

  .container {
    padding: 0 16px;

    @include lg {
      padding: 0 60px;
    }
  }

  &__block {
    background-image: url("../images/backgrounds/form-bg-desctop.jpeg");
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 43px;
    overflow: hidden;
    @include lg {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
    }
    @include x {
      border-radius: 40px;
      overflow: hidden;
    }

    footer {
      display: flex;
      justify-content: center;
      @include lg {
        justify-content: flex-start;
      }
    }
  }

  &__visual {
    padding-bottom: 36px;
    position: relative;
    text-align: center;
    @include lg {
      padding-bottom: 0;
    }


    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 130%;
      background-image: url("../images/backgrounds/form-bg-grad-mobile.png");
      background-repeat: no-repeat;
      z-index: 0;
      border-radius: 14px;
      background-size: 135%;
      background-position-x: center;

      @include xs {
        background-size: 100%;
        background-position: 0 40%;
      }

      @include x {
        border-radius: 40px;
        overflow: hidden;
      }
      @include sm {
        background-position: 0 65%;
      }
      @include lg {
        background-image: url("../images/backgrounds/form-bg-grad.png");
        background-size: cover;
        background-position: 100% 0;
        height: 100%;
      }
    }

    .form__logo {
      margin-bottom: 9px;
    }

    .icon {
      max-width: 105px;
      height: 31px;
      margin: 5px 0;
      @include md {
        max-width: 144px;
        height: 43px;
      }
    }

    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 600;
      line-height: 1;
      margin: 0;
      letter-spacing: .2px;
      @include md {
        font-size: 55px;
        font-weight: 600;
      }
      @include lg {
        font-size: 56.7469px;
        line-height: 57px;
        max-width: 280px;
        margin: 0 auto;
      }
    }

    @include sm {
      background-position: 0 65%;
    }
    @include lg {
      width: 43%;
    }
  }

  &__wrap {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    @include sm {
      padding-top: 50px;
    }
    @include lg {
      padding-top: 0;
    }
  }

  .contact-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px 15px 15px;
    @include lg {
      width: 65%;
      padding: 50px 45px;
    }
    @include xl {
      padding: 66px 55px;
    }

    article {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;


      .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;

        @include lg {
          padding-left: 0px;
        }
      }

      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: relative;
        // top: 0;
        // left: 20%;
        margin-right: 20px;
        margin-left: -41px;
        height: 21px;
        width: 21px;
        background-color: #eee;
        border-radius: 15px;
        @include lg {
          border-radius: 1px;
          margin-left: 0px;
          border: 1px solid rgba(54, 54, 54, 0.58);
        }
      }

      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }


      .container input:checked ~ .checkmark {
        background-color: #2196F3;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .container input:checked ~ .checkmark:after {
        display: block;
      }

      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }

      .textarea-label {
        @include lg {
          display: none;
        }
      }


      .Input-wrapper {
        width: 100%;
        margin-bottom: 10px;
        @include lg {
          width: 46%;
        }

        &[data-attr=subscribe] {
          width: 100%;
          padding-top: 15px;
        }

        .wpcf7-list-item-label {
          padding-top: 7px;
        }

        input {
          border: none;
          border-bottom: 1px solid;
          background-color: transparent;
          padding-bottom: 8px;
          font-size: $font-main;
          padding-top: 25px;
          width: 100%;

          &::placeholder {
            color: black;
          }

          @include lg {
            padding-top: 15px;
            padding-bottom: 5px;
          }
          @include xl {
            padding-top: 25px;
            padding-bottom: 10px;
          }
        }
      }

      [data-attr=message] {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 17px;

        @include lg {
          margin-top: 10px;
        }
      }

      textarea {
        margin-top: 10px;
        border-radius: 20px;
        width: 100%;
        padding-top: 25px;
        resize: none;
        background-color: transparent;
        @include lg {
          border: none;
          border-bottom: 1px solid;
          padding-top: 9px;
          min-height: 32px;
          height: 0;
          border-radius: inherit;
          margin-top: 0;
        }
        @include xl {
          min-height: 40px;
        }


        &::placeholder {
          color: transparent;
          font-family: $font-main;
          @include lg {
            color: black;
          }
        }
      }

      .textarea-label {
        font-size: 13px;
        @include lg {
          font-size: 16px;
        }
      }

      select {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid;
        padding-bottom: 8px;
        padding-top: 8px;
        margin-top: 17px;
        font-family: $font-main;
      }
    }

    .Button {
      display: inline-block;
      margin-top: 25px;
      font-family: $font-main;
      font-weight: 500;
      font-size: 16px;
      border: none;
      color: white;
      border-radius: 20px;
      padding: 10px 38px;
      cursor: pointer;
      background: $main-button;
      transition: background-color .3s;
      box-shadow: 0px 76.6907px 61.3525px rgba(82, 205, 255, 0.24), 0px 32.0395px 25.6316px rgba(82, 205, 255, 0.172525), 0px 17.1299px 13.7039px rgba(82, 205, 255, 0.143066), 0px 9.60286px 7.68229px rgba(82, 205, 255, 0.12), 0px 5.10001px 4.08001px rgba(82, 205, 255, 0.0969343), 0px 2.12223px 1.69778px rgba(82, 205, 255, 0.0674749);

      &:hover {
        background-color: #161C3E;
      }

      @include lg {
        margin-top: 10px;
        font-size: 11.9733px;
        line-height: 15px;
        padding: 8px 27px;
      }
      @include xl {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        padding: 9px 36px;
      }
    }

    .wpcf7-form-control {
      font-size: 13px;
      @include lg {
        font-size: 10.1163px;
        line-height: 12px;
      }
      @include xl {
        font-size: 13.5185px;
        line-height: 16px;
      }
    }

    .wpcf7-checkbox {
      label {
        display: flex;
        justify-content: center;
        width: 100%;

        @include lg {
          justify-content: flex-start;
        }

        input {
          border-radius: 50%;
          transform: scale(1.7);
          margin-right: 10px;
          width: auto;

        }
      }
    }
  }
}
