.form{  
  margin-bottom: 45px;
  @include lg{
    margin-bottom: 70px;
  }
  &__block{
    background-image: url("../images/backgrounds/form-bg-desctop.jpeg");
    background-repeat: no-repeat;
    border-radius: 32px;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    @include lg{
      display: flex;
      justify-content: space-between;
    }
    @include x{
      border-radius: 40px;
      overflow: hidden;
  }
  }
  &__visual{
    padding-bottom: 73px;
    position: relative;
    text-align: center;
    &::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/backgrounds/form-bg-grad-mobile.png");
      background-repeat: no-repeat;
 
      @include xs{
          background-position: 0 40%;
      }
    
      background-size: 100%;
      z-index: 0;
      border-radius: 14px;
      @include x{
          border-radius: 40px;
          overflow: hidden;
      }
      @include sm{
        background-position: 0 65%;
      }
      @include lg{
        background-image: url("../images/backgrounds/form-bg-grad.png");
        background-size: cover;
        background-position: 100% 0;
      }
    }
    .icon{
      max-width: 105px;
      height: 31px;
      margin: 5px 0;
      @include md{
        max-width: 144px;
        height: 43px;
      }
    }
    h2{
      color: #fff;
      font-size: 36px;
      font-weight: 800;
      line-height: 1;
      margin: 0;
      letter-spacing: .2px;
      @include md{
        font-size: 55px;
        font-weight: 600;        
      }
      @include lg{
        font-size: 75px;
        max-width: 280px;
        margin: 0 auto;
      }
    }
    @include sm{
      background-position: 0 65%;
    }
    @include lg{
      width: 43%;
    }
  }
  &__wrap{    
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    @include sm{
      padding-top: 50px;
    }
    @include lg{
      padding-top: 0;
    }
  }
  &__iframe{
    min-height: 663px;
    @include lg{
      width: 55%;
    }
  }
}