.our-team{
  padding: 0 0 86px;
  padding-top: 75px;
  @include md{
    padding-bottom: 150px;
  }
  @include xl {
    padding-top: 130px;
  }
  h3{
    padding-bottom: 11px;

    @include xl {
      padding-bottom: 43px;
    }
  }
  &__gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    text-align: center;
    padding-bottom: 40px;
    padding-left: 7px;
    padding-right: 8px;
    max-width: 1100px;
    @include sm{
      padding-bottom: 80px;
    }
    @include xl {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 87px;
      max-width: 1115px;
    }
  }
  &__wrap{
    display: flex;
    justify-content: center;

    @include lg {
      flex-grow: 1;
      justify-content: space-between;
    }
    @include xl {    
      margin-top: 16px;
    }
    .our-team__img{
      max-height: 137px;
      height: 100%;

      @include md {
        max-height: 360px;
        height: 360px;
      }
      @include lg {
        width: 32%;
      }
    }
  }
  &__img{
    padding: 8px;
    img{
      object-fit: cover;
      border-radius: 17px;
      height: 100%;   
      width: 100%;

      @include xl {
        object-fit: cover;
      }
    }
    &_order{
      width: 100%;      
      max-height: 272px;
  
      @include sm{
        order: -1;
        width: 40%;
      }      
      @include md {
        max-height: 434px;
        height: 435px;
      }
      @include xl {    
        width: 39%;
      }
    }
    &_d-n{
      display: none;
      @include sm{
        display: block;
      } 
    }
    &_size{
      width: 100%;
      height: 272px;
      @include sm{
        width: 60%;
      } 
      @include md {
        max-height: 434px;
        height: 435px;
      }
      @include xl {
        margin-left: 22px;
        width: 59%;
      }

      img {
        object-fit: cover;
      }
    }
  }
  p{
    font-weight: 100;
    max-width: 780px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    padding-bottom: 22px;
    @include sm{
      font-size: 24px;
      padding-bottom: 55px;
      font-weight: 400;
    }
    @include lg{      
      font-size: 30px;
    }
    @include xl {
      line-height: 45px;
    }
  }
  .button a{
    padding: 8px 19px;
    @include md{
      padding: 10px 35px;
    }    
  }

  &.lobby-team {
    padding-top: 50px;
    padding-bottom: 43px;

    @include xl {
      padding-bottom: 30px;
    }

    p {    
      padding-bottom: 45px;
      padding-right: 3px;
      letter-spacing: -.01em;
      max-width: 93%;

      @include xl {
        max-width: 70%;
        letter-spacing: 0;
        padding-bottom: 82px;
      }
    }
  }

  &.position-team {
    padding-bottom: 43px;
    padding-top: 69px;

    @include x {
      padding-top: 114px;
    }
    @include xl {
      padding-bottom: 31px;
    }
    
    p {
      padding-bottom: 43px;

      @include xl {
        padding-bottom: 94px;
      }
    }
  }
}