.privacy-policy{
  color: #161C3E;
  padding: 95px 0;
  background-image: url("../images/privacy-policy/privacy-policy-bg.png");
  background-repeat: no-repeat;
  background-position: 100% -0.5%;
  background-size: contain;
  &__bg-terms-of-use{
    background-image: url("../images/terms-of-use/terms-of-use-bg.png");
  }
  @include md{
    background-position: 100% -1%;
    background-size: initial;
    padding: 155px 0;
  }
  h1{
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 50px;
    margin: 0;
    font-size: 36px;
    @include md{
      text-align: center;
      padding-bottom: 80px;
      font-size: 40px;
    }
    @include lg{
      font-size: 50px;
    }
    @include xl{
      font-size: 64px;
    }
  }
  &__derection{
    padding-bottom: 25px;
    font-size: 19px;
    font-weight: 500;
    p{
      margin: 0;
      padding-bottom: 15px;
    }
    @include lg{
      font-size: 20.5px;
      p{
        padding-bottom: 25px;
      }
    }
  }
  &__wrap{
    font-family: 'Montserrat';
    font-weight: 100;
    @include md{
      font-weight: 400;
    }
  }
  &__renewal{
    color: #9194a4;
  }
  ul{
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
  }
  ol{
    font-size: 14px;
    line-height: 1.8;
    padding: 0;
    padding-bottom: 30px;
    @include md{
      font-size: 16px;
    }
  }
  span{
    font-size: 14px;
    line-height: 1;
    @include md{
      font-size: 30px;
    }
  }
}