.section {
  &-bg {
    &--accent1 {
      background-color: #202A5C;
    }
    &--accent2 {
      background-color: #F5F6F8;
    }

    &--advisors {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: -1;
        background-image: url('../images/backgrounds/advisors-bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        @include md {
          height: 40%;
        }
        @include xl {
          height: 55%;
        }
      }
    }
  }
}