.section {
  &-bg {
    &--accent1 {
      background-color: #202A5C;
    }
    &--accent2 {
      background-color: #F5F6F8;
    }
  }
}

 .section-powered{
   &__title{
     @include md{
        margin-bottom: 100px;
     }
    
   }
 }