.sets-apart{
  margin-bottom: 70px;
  @include md{
    margin-bottom: 40px;
  }
  .container{
    @include lg{
      max-width: 1400px;
      padding: 0;
    }
  }
  h3{
    margin-bottom: 40px;
    @include md{
      margin-bottom: 125px;
    }
  }
  &__row{
    @include md{
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__col{
    width: 100%;
    @include md{
      width: 50%;
    }
    &_last{
      .sets-apart__card{
        &:last-child{
          border-bottom: 0px;
          @include sm{
            border-bottom: 1px solid #FFAD8A;
          }
          @include xl{
            border-bottom: 0px;
          }
        }

        

      }
    }
  }
  &__card{
    border-bottom: 1px solid #FFAD8A;
    margin: 0 auto 30px;
    width: 90%;    
    @include md{
      min-height: 400px;
    }
    @include lg{
      min-height: 370px;
    }
    @include xl{
      display: flex;
      //align-items: center;
      border-bottom: 0px;
      min-height: 250px;
    }
  }
  &__img{
    width: 47%;
    margin: -14px auto 9px;
    text-align: center;
    @include xl{
      width: 40%;
    }
  }
  &__content{
    font-size: 14px;
    line-height: 2;
    @include md{
      font-size: 16px;
    }
    @include xl{
      width: 64%;
    }
    p{
      margin: 0 auto;
      padding-bottom: 30px;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      max-width: 82%;
      letter-spacing: -.02em;
    }
  }
  h4{
    font-family: $font-main;
    font-weight: 600;
    margin: 0 auto 6px;
    @include md{
      font-size: 18px;      
      font-weight: 700;
    }
    @include xl{
      text-align: left;
      padding-bottom: 20px;
    }
  }
}