$color-title: #000;
$color-title-second: #161C3E;

h2, h3{
  line-height: 1.2;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: none;
  color: $color-title;
  margin: 0;
  margin-bottom: 15px;
  @include sm{
    font-size: 24px;
  }
  @include md {
    font-size: 40px;
  }
  @include xl {
    font-size: 60px;
  }
}
h2{
  @include md {
    color: $color-title-second;
  }
}
h3{
  @include xl {
    font-size: 45px;
  }
}