.press-partners {
  margin-bottom: 60px;
  padding: 20px;

  @include lg {
    padding: 0 60px 0 60px;
  }

  @include xl {
    padding: 0 70px;
    max-width: 1540px;
    margin: 0 auto 90px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 0;
    margin: 0px 0 50px;
    list-style: none;

    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      margin: 70px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 3.08974px 38.6218px rgba(72, 124, 255, 0.15);
    border-radius: 11.5865px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 302px;
    transition: box-shadow .3s;
 

    a {
      display: block;
      text-align: center;

      // &:nth-of-type(1) {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }

      img {
        max-width: 220px;
        margin: 0 auto 40px;
        filter: grayscale(100%);
        opacity: .5;
        transition: all .3s;
      }

      &.simple-button {
        font-size: 14px;
        width: max-content;
        color: $blue;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        margin-left: auto;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: $blue;
          transition: width .3s;
        }

        &:hover {

          &::after {
            width: 100%;
          }
        }
      }
    }

    h4 {
      margin-top: 0;
      font-weight: 600;
      font-size: 20px;
      line-height: 135%;
      transition: color .3s;

      @include lg {
        font-size: 24px;
      }

      a {
        text-align: left;

        @include lg {
          text-align: center;
        }
      }
    }

    span {
      text-align: left;
      font-size: 14px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.7);
    }

    &:hover {
      box-shadow: 0px 3.08974px 38.6218px rgba(72, 124, 255, 0.35);

      a {
        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }

      h4 {
        color: #2a468a;
      }
    }

    .press-partners__footer {
      margin-top: auto;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;

      @include md {
        border-top: 1px solid #CFDDFF;
      }
    }
  }

  footer {
    text-align: center;
  }
}


.press-load-more {
  padding: 9px 28px;
  border: none;
  background-color: $blue;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 14.7883px;
  line-height: 18px;
  box-shadow: 0px 92.4266px 73.9413px rgba(82, 205, 255, 0.24), 0px 38.6136px 30.8909px rgba(82, 205, 255, 0.172525), 0px 20.6447px 16.5157px rgba(82, 205, 255, 0.143066), 0px 11.5732px 9.25859px rgba(82, 205, 255, 0.12), 0px 6.14646px 4.91717px rgba(82, 205, 255, 0.0969343), 0px 2.55768px 2.04614px rgba(82, 205, 255, 0.0674749);
  border-radius: 24.3448px;
  transition: background-color .3s;

  @include xl {    
    padding: 11px 38px;
  }

  &:hover {
    background-color: #161C3E;
  }
}
 

@import'press-hider'