.auto-description {
  padding: 40px 0 50px;
  text-align: center; 
 @include lg{
   margin-bottom: 100px;
 }
  
  h3 {
    margin: 0 auto 10px; 
    font-weight: 700;
    max-width: 270px;
    @include md{
      max-width: 750px; 
    }
    @include lg {
      font-weight: 600;
      max-width: 60%;
      margin-bottom: 33px; 
    }
    @include xl {
      line-height: 54px;
      letter-spacing: -.001em;
    }
  }

  p {
    margin: 0 auto; 
    @include xl {
      max-width: 55%;
      line-height: 30px;
    }
  }
}