 

.auto-people{
    position: relative;
    @include lg{
        padding: 30px 0  120px 0;
       margin-bottom: 10px; 
    }
    .container{
       
        max-width: 1200px;
    } 
    &__bg{
        position: absolute;
        top: -90px;
        left: -60px;
        right: 0;
        img{
            width: 100%;
        }

        pointer-events: none;
        @include md{ 
            left: 0;
            top: -180px;    
        }
        @include xl{ 
          top:-400px; 
        }
        @include xxl{
            right: 0px;
            top:-500px; 
        } 
    }
    &__content{
            @include md {
                display: flex;
            }
       
    }
    &__left{   
        h3{
            text-align: left;
            max-width: 100%;
            @include md{
                max-width:402px ;
                margin: 0;
                margin-bottom: 31px;
            }
        }
        @include md {
            width: 50%; 
        }  
    }
    &__right{
        order: 2;
        @include md {    
            width: 50%;
        } 
        &__container{ 
             padding-bottom: 80%;
             position: relative;
              margin-top: 5px;
             @include md{ 
                padding-bottom: 100%;
                margin-top: 50px;
            }
        }
        &__img{  
            top: -30px;
            left: -50px;right: -50px;bottom: -30px;
            position: absolute;
            pointer-events: none;
            @include sm{
                    top: 0;bottom: 0;left: 0;right: 0;
            }
            @include lg {     
                left: -90px;
                right: -100px;
                bottom: -120px;
            } 
            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}
