 
.auto-talk{
    padding: 50px 0;
    &__content{
        position: relative; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:40px 16px;
        @include md{
            padding:80px 30px; 
        }
        @include lg{
            padding:80px 30px; 
        }
    }
    &__title{ 
        font-size: 36px;
        margin-bottom: 25px;
        @include md{
            font-size: 60px; 
            font-weight: 700;
            line-height: 72px;
            letter-spacing: 0.02em;  
            margin-bottom: 33px;
        }
       
        background: linear-gradient(91.83deg, #487CFF 17.21%, #C3AEFF 87.99%, #C3AEFF 88%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;   
    }
    &__description.auto-talk__description{
        max-width: 755px;
        margin:0 auto 25px auto; 
        text-align: center;
        @include md{
             line-height: 38px;
        font-size: 23px; 
        letter-spacing: -0.6px;
        margin-bottom: 35px;
        }
      
    }
    &__img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border-radius: 33px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .contact-btn-desktop{
        margin-top: 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

}