.auto-description {
  padding: 40px 0 50px;
  text-align: center;

  h3 {
    margin: 0 auto 10px;

    @include lg {
      max-width: 60%;
      margin-bottom: 33px;
    }
    @include xl {
      line-height: 54px;
      letter-spacing: -.005em;
    }
  }

  p {
    margin: 0 auto;
    font-weight: 100;
    
    @include xl {
      max-width: 55%;
      line-height: 30px;
    }
  }
}