.main-automotive{
    p{ 
        font-size: 14px; 
        font-weight: 100;
        line-height: 22px;
        letter-spacing: 0em;
        
        @include md { 
            font-size: 16px;  
            line-height: 30px;
            letter-spacing: 0em;
           
        }
    }
}
 
@import './1auto-description.scss'; 
@import './2people-and.scss';
@import './3auto-how-work.scss';
@import './4auto-possibilities.scss';
@import './5auto-talk.scss';