.aboutus-hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px; 

  @include lg {
    margin-bottom: 84px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -65%;
    top: 0;
    left: 0;
    background-image: url('../images/backgrounds/accent-grad-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 120%;

    @include sm {
      right: -30%;
      bottom: -10%;
      background-size: 100%;
    }
    @include xl {
      right: 0;
      bottom: 0;
      background-size: 65%;
    }
  }

  .index-hero__content {
    padding: 67px 21px 63px 36px;

    @include md {
      padding: 78px 0 354px 65px;
    }
    @include xl {
      padding: 154px 153px 200px 72px;
    }
    @include xxl {
      padding: 254px 153px 250px 72px;
    }
    h1 {
      margin-bottom: 13px;

      @include xl {
        margin-bottom: 20px;
        max-width: 75%;
      }
    }
  }
}