.healthcare-hero {
  position: relative;
  overflow: hidden;
  margin: 0px; 
  background-image: url("../images/backgrounds/healthcare-hero-bg.jpeg");
  // transform: scale(-1, 1);

  @include xl {
    background-position-y: top;
  }
  .index-hero__content{
    // transform: scale(-1, 1);
    @include lg{
      padding: 152px 382px 197px 101px;
    }
    @include xxl {
      padding-top: 250px;
      padding-bottom: 300px;
    }
    p{
      font-weight: 300;
      width: 70%;
      font-family: 'Montserrat';
    }
    h1{
      font-weight: 400;
      margin-bottom: 16px;
      @include md {
        margin-bottom: 22px;
      }
    }
  }
  @include sm {
    // transform: scale(1, 1);
    .index-hero__content{
      // transform: scale(1, 1);
    }
  }
  

  &::after {
    content: '';
    position: absolute;
    bottom: -100px;
    right: 0px;
    top: 0;
    left: 0;
    background-image: url("../images/backgrounds/healthcare-grad-bg.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 200%;

    @include sm {
      right: -5%;
      bottom: 0%;
      background-size: 100%;
    }
    @include xl {
      right: 0;
      bottom: 0;
      background-size: 95%;
    }
  }
}