.index-hero {
  background-color: #4D6392;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 80%;

  @include md {
    background-position-x: center;
    background-position-y: 100%;
  }

  &__content {    
    // padding: 67px 21px 84px 36px;
    padding: 80px 21px 100px 36px;
    position: relative;
    color: #ffffff;
    z-index: 1;

    @include sm {
      padding: 100px 21px 130px 36px;
    }
    @include md {
      width: 70%;
      // padding: 78px 0 354px 65px;
      padding: 100px 0 354px 65px;
    }
    @include xl {
      // padding: 180px 80px 217px 120px;
      padding: 220px 80px 260px 120px;
    }
    @include xxl {    
      padding: 260px 240px 360px 184px;
      // padding: 236px 240px 324px 184px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(90deg, rgba(22, 28, 62, 0.63) 0%, rgba(22, 28, 62, 0) 99.98%, rgba(22, 28, 62, 0) 99.99%, rgba(196, 196, 196, 0) 100%);
    }

    h1 {
      text-align: left;
      margin-bottom: 16px;
      text-transform: capitalize;
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 1.1;

      @include md {
        font-size: 3.4rem;
        line-height: 1.02em;
        margin-bottom: 18px;
      }

      @include xl {
        font-size: 4rem;
        margin-bottom: 28px;
      }
    }

    p {
      font-family: $font-accent;
      font-weight: 600;
      font-size: 19px;
      line-height: 26px;
      max-width: 90%;
      letter-spacing: 0.02em;
      margin-top: 0;

      @include md {
        font-size: 20.5px;
        padding-left: 2px;
        max-width: 70%;
      }
      @include xl {
        width: 55%;
        letter-spacing: 0.015em;
        padding-left: 0;
        line-height: 28.4px;
      }
      @include xxl {
        width: 50%;
      }
    }
  }
}