.header { 
 	background-color: #fff;
	transition: 0.3s; 
	&__content {    
		padding: 16px 14px 16px 22px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start; 
		align-items: stretch;
		max-width: 1800px;
		margin-left: auto;
		margin-right: auto; 
		@include lg{
			padding:18px 80px;
		}
		@include x {
			flex-direction: row;
			justify-content: space-between;
			padding: 10px 70px;
		}
	} 
	&__logo {
		&__container{
			 width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include x{
				width: auto;
			}
		}
		width: 86px;
		&__link{
			display: inline-block;
		}
		svg {
			fill: rgb(0, 0, 0);
			object-fit: contain;
			width: 86px;
			height: auto;
			.first-logo{
				
				fill:$blue;
			}
			@include x {
				width: 120px;
			}
		} 
	}
	&.nav-open{
		position: fixed;
		left: 0;
		right: 0;
		background-color: $blue;
		.header__content{
			 height: 100vh; 
		}
		.header__logo svg{
			fill:white;
			.first-logo{
				fill:#fff;
			}
		}
		@include x {
			position: sticky;
			background-color: #fff;
			.header__content{
				height: auto; 
		   }
		}
		.header__logo svg{
			@include x {
			fill:$blue;
			.first-logo{
				fill:$blue;
			}
		}
		}
	}
}

.fixed-header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
 