 .nav {  
	&__menu {  
		ul{
			padding: 0;
			margin: 0; 
		}
		li{
			list-style-type: none;
		}
		flex-grow: 1; 
		width: 100%;
		max-height: 0;
		overflow: hidden;
		text-align: left; 
		transform: translateY(-150%);
		@include x {
			position: static;
			transform: none;
		}
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}


	&__item {
		&__link{
			transition: 0.5s;
			width: 100%;
			display: block;
			 padding:  20px 20px 20px 0 ; 
			color: #fff;
			&::after{
				content: ' ';
				height: 20px;
				width: 20px;
				background:url(../images/header-arrow.svg);
				background-repeat: no-repeat;
				position: absolute;
				right: 20px;
			}
			&:hover { 
				 transform: translateX(4px);
			}
		}
	
		& > a:not(:last-child) {
			display: none;
		}
	}
	&__burger { 
		width: 21px;  
		padding: 6px;
		box-sizing: content-box;
		display: block; 
		border:none;
		background-color: transparent;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column; 
		&__row {
			transition: 0.2s;
			background-color:$blue;
			height: 2px;
			width: 100%; 
		} 
		&__row+&__row { 
			margin-top: 5px;
		}
		&:focus{
			outline:solid 1px $blue;

		}
	}
	&__bottom{
		text-align: center;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end; 

	}
	&__button{
		font-family: Montserrat;
		color:white;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center; 
		padding: 11px 62px;
		margin-bottom: 15px;
		background-color: inherit;
		border: 1px solid #FFFFFF; 
		border-radius: 25px;
		
	}
	&__social{
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		&__item{
			 width: 33px	;
			 margin:6px 7px;
		}
	}


}

.nav-open { 
	.nav__menu {
		transform: none;
		transition: 0.2s; 
		max-height: 100vh; 
		overflow-y:auto;
		overflow-x: hidden;
	} 
	.nav__burger { 
		&__row {
			margin: 0  ;
			 background-color: #fff;
		}

		&__row:nth-child(1) {
			transform: translateY(100%) rotate(-45deg);
		}

		&__row:nth-child(2) {

			opacity: 0;
			width: 0;
		}

		&__row:nth-child(3) {
			transform: translateY(-100%) rotate(45deg);
		}
	}
} 

@import 'submenu'