 
$submetupt:25px;

.nav {
	&__item {
		position: relative;
	} 

	&__submenu { 
		position: relative;
		&__wrapper{
			@include x { 
				padding-top: $submetupt; 
				left: 0; 
				display: none; 
				position: absolute;
				&:hover{
					display: block; 
				}
			}
		
		} 
	
		&__container {
			padding: 0; 
			&:hover {
				@include x { 
					.nav__submenu {
						opacity: 1;
						pointer-events: all;
						&__wrapper{ 
							display: block;  
						} 
					}
				}
			}
		}

		@include x { 
			min-width: 140px;
			background-color: #fff;
			box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
			border-radius: 7px; 
			left: 0; 
			opacity: 0;
			pointer-events: none;  
			display: block;
			text-align: left; 
			.nav__item__link {
				margin: 0;
				padding: 17px 20px 13px 20px;
			 
				&::after {
					content: unset;
				} 
				&:hover {
					background-color: #F4F7FF;
					transform: none;
					border-radius: 7px; 
				}
			}

		}

		&::before {
			@include x {
				overflow: hidden;
				content: '';
				position: absolute;
				display: block;
				top:  -7px;
				left: 20px;
				width: 14px;
				height: 14px;
				background: #ffffff;
				border-radius: 1px;
				transform: rotate(45deg);
			}
		}

		&__item {

			@include x {
				&:not(:last-of-type) {
					border-bottom: solid 1px #F4F7FF;
				}
			}
		}
	}
}
 

 