      @import 'components/__var.scss';
      @import 'components/fonts';

      #new_design {
        // @import 'components/fonts';
        @import 'components/base';
        @import 'components/header/header';
        @import 'components/accordion';
        @import 'components/width';

        @import 'components/header/nav';
        @import 'components/grid';
        @import 'components/sections';
        @import 'components/button';
        @import 'components/card';
        @import 'components/list';
        @import 'components/title';
        @import 'components/description';
        @import 'components/industry';
        @import 'components/privacy-policy';
        @import 'components/our-team';
        @import 'components/leadership';
        @import 'components/our-values';
        @import 'components/amplyfying';
        @import 'components/sets-apart';
        @import 'components/form';
        @import 'modules/images-min';
        @import 'components/advisors';
        @import 'components/_card-powered';
        @import 'components/swipers/swiper-milestones';
        @import 'components/hero/index-hero';
        @import 'components/hero/aboutus-hero';
        @import 'components/hero/healthcare-hero';
        @import 'components/footer';
        @import '../../node_modules/swiper/css/swiper.min.css';
        @import 'components/swipers/swiper-base';
        @import 'components/swipers/forming-swiper';
        @import 'components/swipers/use-cases/use-cases-swiper';
        @import 'components/swipers/use-cases/use-cases-card';
        @import 'components/swipers/index-partners';
        @import 'components/swipers/latest-updates/latest-updates-swiper';
        @import 'components/swipers/latest-updates/latest-updates-card';
        @import 'components/swipers/news/news-swiper';
        @import 'components/swipers/news/news-card';
        @import 'components/swipers/investors';
        @import 'components/short-info';

        @import 'components/hero/lobby-hero';
        @import 'components/open-roles';
        @import 'components/position-desc';
        @import 'components/position-form';

        @import 'components/hero/press-hero';
        @import 'components/press/press-articles';
        @import 'components/press/press-releases';
        @import 'components/press/press-kit';

        @import 'components/hero/automotive-hero';
        @import 'components/automotive/main.scss';
      
      }



      
// .container{
//     border:solid red 1px;
//    background-color: rgba(255, 0, 0, 0.075);
//    background-clip: content-box;
// }